# --- FRONTEND (Next.js / Node) ---
node_modules/
.next/
dist/
.env

# --- BACKEND (PHP / Slim) ---
vendor/
.env
credentials.json
credentials-google.json
credencialesPasadas.json

# --- ARCHIVOS SENSIBLES ---
.DS_Store

# --- VSCODE ---
.vscode/
